<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yumore.introduce">

    <application>
        <activity
            android:name=".IntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/IntroduceTheme" />
    </application>
</manifest>